asgiref>=3.8.1
autobahn>=23.6.2
channels>=4.0.0
channels-redis>=4.2.0
daphne>=4.1.0
dj-database-url>=2.1.0
Django>=5.0.0,<6.2
gunicorn>=22.0.0
pillow>=10.0.0
psycopg2-binary>=2.9.9
psycopg[binary]>=3.1.12
redis>=5.0.0
requests>=2.31.0
sqlparse>=0.5.0
whitenoise>=6.6.0
cloudinary>=1.44.0
django-cloudinary-storage>=0.3.0


